<%- include('../layouts/homehead.ejs') %>

    <%- include('../layouts/homenav.ejs') %>

        <div class="container" style="margin-top: 10em;">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-5">
                    <div class="sidebar-categories">
                        <div class="head">Browse Categories</div>
                        <ul class="main-categories">
                            <li class="main-nav-list"><a href="/shop"><span class="lnr lnr-arrow-right"></span>
                                    All Products
                                </a>
                            </li>
                            <% for(category of category) { %>

                                <li class="main-nav-list w-100 h-100"><a class="text-black "><input type="checkbox"
                                            class="me-2 mt-2" id="checkbox-category" value="<%=category._id%>"
                                            name="category-list" onclick="filterProducts()">
                                        <strong>
                                            <%= category.name %>
                                        </strong></a>
                                </li>
                                <% } %>
                        </ul>
                    </div>
                </div>

                <div class="col-xl-9 col-lg-8 col-md-7">
                    <div class="filter-bar d-flex flex-wrap justify-content-end mb-4">
                        <div class="sorting mr-auto">
                            <div class="dropdown">
                                <select class="form-select my-custom-select" id="sort-price"
                                    aria-label="Default select example" onchange="filterProducts()">
                                    <option selected>Price</option>
                                    <option value="Low to high">Low to high</option>
                                    <option value="High to low">High to low</option>
                                </select>
                                <style>
                                    /* Modify the appearance of the select button using the custom class */
                                    .sorting .nice-select {
                                        border-radius: 5px;
                                        border: 1px solid #eee;
                                        padding-right: 0px;
                                    }

                                    .nice-select {
                                        line-height: 29px;
                                    }

                                    .form-select .current {
                                        margin-right: 30px;
                                        font-weight: 300;
                                    }

                                    .sorting .nice-select:after {
                                        right: 18px;
                                        border: 0px;
                                    }

                                    .nice-select:after {
                                        border-bottom: 0px white;
                                        border-top: 0px white;
                                    }
                                </style>
                            </div>
                        </div>
                        <div class="pagination">
                            <% if (currentPage> 1) { %>
                                <a href="?page=<%= currentPage-1 %>" class="prev-arrow">
                                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                                </a>
                                <% } %>
                                    <% for(let j=1;j<=totalPages;j++){ %>
                                        <% if(j==currentPage) { %>
                                            <a href="#" class="active" id="page">
                                                <%=j%>
                                            </a>
                                            <% } else if (j==currentPage+1 || j==currentPage-1 || j==1 || j==totalPages)
                                                { %>
                                                <a href="?page=<%=j%>">
                                                    <%=j%>
                                                </a>
                                                <% } else if (j==currentPage+2 || j==currentPage-2) { %>
                                                    <a href="#" class="dot-dot">
                                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                                    </a>
                                                    <% } %>
                                                        <% } %>
                                                            <% if (currentPage < totalPages) { %>
                                                                <a href="?page=<%= parseInt(currentPage)+1 %>"
                                                                    class="next-arrow">
                                                                    <i class="fa fa-long-arrow-right"
                                                                        aria-hidden="true"></i>
                                                                </a>
                                                                <% } %>
                        </div>
                    </div>
                    <!-- Start Best Seller -->
                    <section class="lattest-product-area pb-40 category-list">
                        <div class="row" id="sortArea">
                            <!-- single product -->
<%if (product){ %>
                            <% for(let i=0;i<product.length;i++){ %>
                                <div class="col-lg-4 col-md-6 my-5">
                                    <div class="single-product" style="position: relative;">
                                        <% if (product[i].stocks==0) { %>
                                            <div class="out-of-stock" style="position: absolute;">
                                                <h3><span class="badge" style="background-color: red;
                                                color: white;
                                                padding: 4px 8px;
                                                text-align: center;
                                                border-radius: 5px;">Out of stock</span></h3>
                                            </div>
                                            <% } %>
                                                <img class="img-fluid" src="/productimg/<%=product[i].image[1]%>" alt=""
                                                    style="height: 20em;">
                                                <div class="product-details">
                                                    <h6>
                                                        <%=product[i].name%>
                                                    </h6>
                                                    <div class="price">
                                                        <h6><i class="bi bi-currency-rupee"></i>
                                                            <%=product[i].offer_price%>.00
                                                        </h6>
                                                        <h6 class="l-through text-danger"><i
                                                                class="bi bi-currency-rupee"></i>
                                                            <%=product[i].gross_price%>.00
                                                        </h6>
                                                    </div>
                                                    <div class="prd-bottom">


                                                        <% if(typeof userData==="undefined" ){ %>
                                                            <a href="/signin" class="social-info">
                                                                <span class=""><i
                                                                        class="bi bi-cart-plus-fill text-black"></i></span>
                                                                <p class="hover-text">add to bag</p>
                                                            </a>
                                                            <a href="/signin" class="social-info">
                                                                <span><i class="bi bi-heart-fill"></i></span>
                                                                <p class="hover-text">Wishlist</p>
                                                            </a>
                                                            <% } else {%>
                                                                <% if(product[i].stocks !=0){%>
                                                                    <a onclick="addCart('<%=product[i]._id%>')"
                                                                        class="social-info">
                                                                        <span class=""><i
                                                                                class="bi bi-cart-plus-fill text-black"></i></span>
                                                                        <p class="hover-text">add to bag</p>
                                                                    </a>
                                                                    <%}%>
                                                                        <% if(wishlist.includes(product[i]._id)){ %>
                                                                            <a onclick="wishlist('<%=product[i]._id%>')"
                                                                                class="social-info">
                                                                                <span><i class="bi bi-heart-fill text-danger"
                                                                                        id="wish-<%=product[i]._id%>"></i></span>
                                                                                <p class="hover-text">Wishlist</p>
                                                                            </a>
                                                                            <% } else {%>
                                                                                <a onclick="wishlist('<%=product[i]._id%>')"
                                                                                    class="social-info">
                                                                                    <span><i class="bi bi-heart-fill"
                                                                                            id="wish-<%=product[i]._id%>"></i></span>
                                                                                    <p class="hover-text">Wishlist</p>
                                                                                </a>
                                                                                <%}%>
                                                                                    <%}%>
                                                                                        <a href="/viewproduct?id=<%=product[i]._id%>"
                                                                                            class="social-info">
                                                                                            <span><i
                                                                                                    class="fa-solid fa-circle-info text-black"></i></span>
                                                                                            <p class="hover-text">view
                                                                                                more</p>
                                                                                        </a>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                                <% } %>
                                <% }else{ %>
                                    No Products are found
                                    <% } %>

                        </div>
                    </section>
                    <!-- End Best Seller -->
                </div>
            </div>
        </div>

        <script>

            function filterProducts() {
                const search = document.getElementById("search_input").value
                const page = document.getElementById("page").innerHTML
                const sortItems = document.getElementById('sort-price');
                const selectedSort = sortItems.value;
                const categoryItems = document.querySelectorAll('input[name="category-list"]');
                const categoryArray = [];
                categoryItems.forEach((item) => {
                    if (item.checked) {
                        categoryArray.push(item.value);
                    }
                });
                $.ajax({
                    url: `/search`,
                    method: "post",
                    data: {
                        search: search,
                        page: Number(page),
                        category: categoryArray,
                        sort: selectedSort
                    },

                    success: function (response) {
                        let filterArea = document.getElementById('sortArea')
                        let html = ""
                        console.log(response);
                        if (response.products) {
                            response.products.forEach((element) => {
                                html += `<div class="col-lg-4 col-md-6 my-5">
                                    <div class="single-product">
                                        <img class="img-fluid" src="/productimg/${element.image[0]}" alt=""
                                            style="height: 20em;">
                                        <div class="product-details">
                                            <h6>
                                                ${element.name}
                                            </h6>
                                            <div class="price">
                                                <h6><i class="bi bi-currency-rupee"></i>
                                                    ${element.offer_price}.00
                                                </h6>
                                                <h6 class="l-through text-danger"><i class="bi bi-currency-rupee"></i>
                                                    ${element.gross_price}.00
                                                </h6>
                                            </div>
                                            <div class="prd-bottom">


                                                <% if(typeof userData==="undefined" ){ %>
                                                    <a href="/signin" class="social-info">
                                                        <span class=""><i
                                                                class="bi bi-cart-plus-fill text-black"></i></span>
                                                        <p class="hover-text">add to bag</p>
                                                    </a>
                                                    <a href="/signin" class="social-info">
                                                        <span><i class="bi bi-heart-fill"></i></span>
                                                        <p class="hover-text">Wishlist</p>
                                                    </a>
                                                    <% } else {%>
                                                        <% if('${element._id}' !=0){%>
                                                            <a onclick="addCart('${element._id}')"
                                                                class="social-info">
                                                                <span class=""><i
                                                                        class="bi bi-cart-plus-fill text-black"></i></span>
                                                                <p class="hover-text">add to bag</p>
                                                            </a>
                                                            <%}%>
                                                                <% if(wishlist.includes('${element._id}')){ %>
                                                                    <a onclick="wishlist('${element._id}')"
                                                                        class="social-info">
                                                                        <span><i class="bi bi-heart-fill text-danger"
                                                                                id="wish-${element._id}"></i></span>
                                                                        <p class="hover-text">Wishlist</p>
                                                                    </a>
                                                                    <% } else {%>
                                                                        <a onclick="wishlist('${element._id}')"
                                                                            class="social-info">
                                                                            <span><i class="bi bi-heart-fill"
                                                                                    id="wish-${element._id}"></i></span>
                                                                            <p class="hover-text">Wishlist</p>
                                                                        </a>
                                                                        <%}%>
                                                                            <%}%>
                                                                                <a href="/viewproduct?id=${element._id}"
                                                                                    class="social-info">
                                                                                    <span><i
                                                                                            class="fa-solid fa-circle-info text-black"></i></span>
                                                                                    <p class="hover-text">view more</p>
                                                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                            })
                            filterArea.innerHTML = html

                        }



                    }
                })
            }

            const page = document.getElementById('shop');
            page.classList.remove('text-light');
            page.classList.add('text-warning');

        </script>




        <%- include('../layouts/homefoot.ejs') %>